@media screen and (max-width: 1100px) {
    .dream-card-head h2{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .dream-card-head img{
        height: 25px;
    }

    #cutoff-section{
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        gap: 20px;
    }

    #cutoff-section-ad-sidebar{
        width: 280px;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        overflow: hidden;
    }
}


@media screen and (max-width: 991px) {
    #menu-btn-2{
        display: inline-block;
    }

    #navbar-normal{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding: 20px;
        gap: 30px;
        padding-inline: 25px;
    }

    #navbar-normal ul{
        list-style: none;
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 30px;
    }

    #navbar-topper{
        width: 100%;
        height: auto;
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
        gap: 30px;
    }

    /*search*/

    #search-bar-main{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 8px;
        overflow: hidden;
        padding-block: 70px;
    }

    #search-bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        overflow: hidden;
        gap: 25px;
        margin-top: 50px;
    }

    #search-bar a{
        padding: 20px;
        background-color: rgb(255, 71, 15);
        color: white;
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        border: 0px solid transparent;
        border-radius: 10px;
        box-shadow: 0px 2px 30px rgba(255, 71, 15, 0.5);
        width: 40%;
        text-align: center;
        margin: 0px;
    }
    
    #search-bar a:hover{
        padding: 20px;
        background-color: white;
        color: rgb(255, 71, 15);
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        border: 0px solid transparent;
        border-radius: 10px;
        box-shadow: 0px 2px 30px rgba(255, 255, 255, 0.5);
        width: 40%;
        text-align: center;
        margin: 0px;
    }


    /*dream div*/

    .dream-card{
        width: 40%;
        height: auto;
        border: 1px solid rgb(255, 71, 15);
        padding: 25px;
        border-radius: 15px;
    }

    .dream-card-head{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .dream-card p{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 0.8rem;
        font-weight: 500;
        padding-block: 5px;
        text-align: center;
    }

    .dream-card-head h2{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    /*place*/

    #cutoff-head h1{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 2.5rem;
        font-weight: 600;
    }


    #make-it-wide{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px;
        gap: 30px;
    }

    #top-10-companies{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
    
    #top-10-companies img{
        border: 0px splid transparent;
        border-radius: 7px;
        width: 15%;
    }

    /*courses*/

    #courses-section h1{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }

    /*footer*/

    #footer-middle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-inline: auto;
    }

    .footer-middle-column h3{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 7px;
        text-align: center;
    }
    
    .footer-middle-column a{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 0.8rem;
        font-weight: 500;
        margin-block: 5px;
        text-decoration: none;
        color: rgb(38, 38, 38);
        text-align: center;
    }
}



@media screen and (max-width: 767px) {

    #cutoff-section{
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        gap: 20px;
    }

    #the-first-table{
        border-collapse: collapse;
        text-align: start;
        vertical-align: middle;
        background-image: url('https://collegecounter.com/images/trans.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: scroll;
    }

    #the-first-table th, td{
        border: 1px solid rgba(0, 0, 0, 0.737);
        padding: 15px;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 0.8rem;
        font-weight: 400;
    }


    #search-bar-main h1{
        color: white;
        font-family: 'Noto Sans', sans-serif;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.07rem;
        padding-inline: 25px;
        text-align: center;
    }

    
    /*dream div*/

    .dream-card{
        width: 80%;
        height: auto;
        border: 1px solid rgb(255, 71, 15);
        padding: 25px;
        border-radius: 15px;
    }

    .dream-card-head{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .dream-card p{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 0.8rem;
        font-weight: 500;
        padding-block: 5px;
        text-align: center;
    }

    .dream-card-head h2{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1.2rem;
        font-weight: 600;
    }



    /*nirf section*/

    #nirf-section{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding: 20px;
        border: 1px solid rgb(255, 71, 15);
        border-radius: 10px;
        margin-inline: auto;
        margin-block: 30px;
        gap: 50px;
        padding-block: 50px;
    }

    /*cutoof*/

    #cutoff-head h1{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }

    #cutoff-filter-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:50px;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 80%;
    }

    #cutoff-filter-div select{
        padding: 20px;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1rem;
        font-weight: 600;
        box-shadow: 0px 2px 30px rgba(255, 71, 15, 0.277);
        border: 1px solid rgb(255, 71, 15);
        border-radius: 10px;
        width: 80%;
    }

    #cutoff-filter-div button{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: rgb(255, 71, 15);
        border: 0px solid transparent;
        border-radius: 10px;
        padding: 20px;
        padding-inline: 30px;
        color: white;
        text-decoration: none;
        box-shadow: 0px 2px 30px rgba(255, 71, 15, 0.733);
        cursor: pointer;
        width: 80%;
    }
    
    #cutoff-filter-div button:hover{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: rgb(255, 255, 255);
        border: 0px solid transparent;
        border-radius: 10px;
        padding: 20px;
        padding-inline: 30px;
        color: rgb(255, 71, 15);
        text-decoration: none;
        box-shadow: 0px 2px 30px rgba(255, 71, 15, 0.733);
        cursor: pointer;
        width: 80%;
    }


    /*place*/

    #make-it-wide{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        padding: 0px;
    }

    #top-10-companies{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    #top-10-companies img{
        border: 0px splid transparent;
        border-radius: 7px;
        width: 40%;
    }

    /*courses*/

    .course-card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        gap: 7px;
        border: 1px solid rgb(255, 71, 15);
        border-radius: 10px;
        width: 90%;
    }

    .course-card:hover{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        gap: 7px;
        border: 1px solid rgb(255, 71, 15);
        border-radius: 10px;
        box-shadow: 0px 2px 30px rgb(255, 71, 15);
        width: 90%;
    }

    .course-card h2{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .course-card-details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    
    .course-card-details p{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 0.8rem;
        font-weight: 500;
    }

    /*footer*/

    #footer-top{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding: 20px;
        gap: 40px;
        margin-inline: auto;
        margin-bottom: 40px;
    }

    #footer-top img{
        width: 80%;
    }

    #footer-top p{
        width: 100%;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
    }

    #footer-middle{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 50px;
        margin-inline: auto;
    }

    .footer-middle-column h3{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 7px;
    }
    
    .footer-middle-column a{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 1rem;
        font-weight: 500;
        margin-block: 5px;
        text-decoration: none;
        color: rgb(38, 38, 38);
    }
}

@media screen and (max-width: 520px) {
    #scroll-kar-le-saale{
        display: inline-block;
    }
}


@media screen and (max-width: 479px) {



    #cutoff-data-section{
        flex-grow: 1;
        overflow: scroll;
    }

    #below-sr-btn-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 10px;
    }

    #div-for-course{
        padding: 0px;
    }

    .course-card{
        width: 100%;
    }

    .course-card:hover{
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    #search-bar a{
        padding: 20px;
        background-color: rgb(255, 71, 15);
        color: white;
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        border: 0px solid transparent;
        border-radius: 10px;
        box-shadow: 0px 2px 30px rgba(255, 71, 15, 0.5);
        width: 40%;
        text-align: center;
        margin: 0px;
        font-size: 0.7rem;
    }
    
    #search-bar a:hover{
        padding: 20px;
        background-color: white;
        color: rgb(255, 71, 15);
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        border: 0px solid transparent;
        border-radius: 10px;
        box-shadow: 0px 2px 30px rgba(255, 255, 255, 0.5);
        width: 40%;
        text-align: center;
        margin: 0px;
        font-size: 0.7rem;
    }


    #place-overlay-2 h1{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: white;
    }
    
    .light-border{
        border: 1px solid rgb(255, 255, 255);
        width: 20%;
        padding: 10px;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 0.07rem;
        font-size: 0.9rem;
        font-weight: 400;
    }

    #nirf-section img{
        width: 250px;
    }
}